<div class="container-fluid ">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<br><br><br>
			<li class="nav-header"><b>Administraci&oacute; d'usuaris</b></li><br>
			<li><a href="/codeigniterhelloworld/index.php/usuaris/llistar">Llistar Usuaris</a></li>
			<li><a href="/codeigniterhelloworld/index.php/usuaris/crear">Crear Usuaris</a></li>
			<li><a href="/codeigniterhelloworld/index.php/usuaris/modificar/00">Modificar Usuaris</a></li>
			<li><a href="/codeigniterhelloworld/index.php/usuaris/eliminar">Eliminar Usuaris</a></li><br><br>
			<li class="nav-header"><b>Configuraci&oacute; d'usuaris</b></li><br>
			<li><a href="/codeigniterhelloworld/index.php/config/canviar_pas">Canviar Paraula de pas </a></li>
			<li><a href="/codeigniterhelloworld/index.php/config/sortir">Desconectar</a></li>
		</ul>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>	
</div>

        
	